@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.contact-info {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.contact-info .bg-gray-200 {
  background-color: #e2e8f0; /* Gray 200 */
}

.contact-info .rounded-full {
  border-radius: 9999px; /* Large value to create a circle */
}

.contact-info .w-12 {
  width: 3rem; /* Equivalent to width: 48px; */
}

.contact-info .h-12 {
  height: 3rem; /* Equivalent to height: 48px; */
}

.contact-info .text-xl {
  font-size: 1.25rem; /* Equivalent to 20px */
}

.contact-info .ml-4 {
  margin-left: 1rem; /* Equivalent to margin-left: 16px; */
}

.contact-info h2 {
  font-size: 1.5rem; /* Equivalent to 24px */
  font-weight: 600; /* Equivalent to font-weight: bold; */
}

.contact-info p {
  font-size: 1rem; /* Equivalent to 16px */
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Start off-screen */
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  z-index: 1;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar.show {
  right: 0; /* Slide in when opened */
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hiddenOpacity {
  opacity: 0;
}

.slide-in-left {
  animation: slideInFromLeft 1s ease-in-out forwards;
}

.slide-in-right {
  animation: slideInFromRight 1s ease-in-out forwards;
}
